@use '../abstracts/' as *;

.container {
  max-width: rem(1110);
  margin-inline: auto;
  padding-inline: rem(16);

  @include breakpoint(md) {
    padding-inline: rem(40);
  } 

  @include breakpoint(xl) {
    padding-inline: 0;
  }
}