:root {
  --clr-primary-1: hsl(233, 54%, 16%)
  --clr-primary-2: hsl(234, 25%, 52%);
  --clr-primary-3: hsl(232, 10%, 56%);
  --clr-primary-4: hsl(341, 92%, 62%);
  --clr-neutral-1: hsl(0, 0%, 100%);
  --clr-primary-2: hsl(341, 100%, 83%);
  --grdt-1-clr-1: rgba(255, 111, 72, 1);
  --grdt-1-clr-2: rgba(240, 42, 166, 1);
  --grdt-2-clr-1: rgba(72, 81, 255, 1);
  --grdt-2-clr-2: rgba(240, 42, 166, 1);
}