:root {
  --clr-primary-1: hsl(233, 54%, 16%);
  --clr-primary-2: hsl(234, 25%, 52%);
  --clr-primary-3: hsl(232, 10%, 56%);
  --clr-primary-4: hsl(341, 92%, 62%);
  --clr-neutral-1: hsl(0, 0%, 100%);
  --clr-neutral-2: hsl(341, 100%, 83%);
  --clr-neutral-3: hsla(234, 100%, 97%, 1);
  --grdt-1-1: hsl(237, 100%, 64%);
  --grdt-1-2: hsla(322, 87%, 55%, 1); 
  --grdt-2-1: hsl(13, 100%, 64%);
  --grdt-2-2: hsla(322, 87%, 55%, 1);
  --grdt-hover: hsla(0, 0%, 100%, 0.5);
  --clr-card-shadow: hsla(233, 92%, 29%, 0.04);
}